


.side-bar {
    transition: 0.3s ease;
    width: 100%;
    position: fixed;
    height: 100vh;
}


.side-bar ul {
        height: 100%;
        display: flex;
        flex-direction: column;
}

.side-bar li {
    padding: 10px 5px;
    display: block;
    text-transform: uppercase;
    transition: color .1s;
  }


.content {
    width: 90%;
    max-width: 300px;
    margin-top: 70px;
    height: 100%;
    width: 100%;
    position: absolute;
    border-top-right-radius: 40px;
    background-color:#ececec;
    font-weight: 600;
    letter-spacing: .03em;
}

.userInfo {
  margin-top : 60px;
  padding-left : 30px;
  margin-bottom : 60px;
}

